!!! 5
%html
  %head
    %meta{ :content => "width=device-width", :name => "viewport" }

    %title= full_title(yield(:title))
    
    = stylesheet_link_tag    "application", :media => "all"
    - # = csrf_meta_tags
    - # = yield(:head)
  
  %body{ :id => "#{params[:controller]}-section", :class => "#{body_class(yield(:extra_body_classes))}" }
  
    #home-wrapper
      %p Why would you want one when you can have two?
      %p
        %b
          %code ETA//EOD@1356411600