@import "bootstrap"
@import "bootstrap-responsive"

body 
  padding-top: 60px

.sidebar-nav
  padding: 5px 0
  ul.nav
    li
      i.icon-user, i.icon-star, i.icon-map-marker
        float: right
        opacity: 0.50
      &.active
        i.icon-user, i.icon-star, i.icon-map-marker
          opacity: 1


section.content-section
  margin: 0 0 2em 0

dl.dl-horizontal
  dt
    text-align: left

h1,h2,h3,h4,h5
  span.badge
    vertical-align: 20%