- content_for :title, "Terms of Service"

%h1= yield(:title)

<p>Belluba (&quot;Belluba&quot;, &quot;we,&quot; or &quot;us&quot;) operates the DoubleDate mobile app and related website (&quot;DoubleDate&quot;). By using DoubleDate in any way, you accept these Terms of Service (&quot;Agreement&quot;).</p>
<p><strong>If you do not wish to be bound by this Agreement, do not use DoubleDate.</strong></p>
<h3 id="contents">Contents</h3>
<ol style="list-style-type: decimal">
<li>Who May Use DoubleDate</li>
<li>License to Use DoubleDate</li>
<li>Privacy</li>
<li>Registration</li>
<li>Term and Termination; Account Deletion</li>
<li>Disclaimers; Limitation of Liability</li>
<li>Code of Conduct; Prohibited Activities</li>
<li>Content Restrictions</li>
<li>Licenses Granted by You</li>
<li>Your Representations and Warranties</li>
<li>Indemnification</li>
<li>Third Party Copyrights and Other Rights</li>
<li>General Provisions</li>
</ol>
<h3 id="who-may-use-doubledate">Who May Use DoubleDate</h3>
<p>You must be at least 17 years old to use DoubleDate. Use is void where prohibited. By using DoubleDate, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement. If you use DoubleDate, you represent and warrant that you have never been convicted of a felony and that you are not required to register as a sex offender with any government entity.</p>
<h3 id="license-to-use-doubledate">License to Use DoubleDate</h3>
<p>Belluba grants you a limited, non-exclusive license to access and use DoubleDate for your own personal, non-commercial purposes. This license is personal to you and may not be assigned or sublicensed to anyone else. Except as expressly permitted by Belluba in writing, you will not reproduce, redistribute, sell, create derivative works from, decompile, reverse engineer, or disassemble DoubleDate. Nor will you take any measures to interfere with or damage DoubleDate. All rights not expressly granted by Belluba are reserved.</p>
<h3 id="privacy">Privacy</h3>
<p>Your privacy rights are set in our <a href="http://dbld8.com/privacy">Privacy Policy</a>, which forms a part of this Agreement.</p>
<h3 id="registration">Registration</h3>
<p>To use DoubleDate, you must register an account your Facebook login, meaning you are authorizing us to access certain information in your Facebook account, including information about Facebook friends you might share in common with other DoubleDate users. By allowing us to access your Facebook account, you expressly acknowledge and agree that we may obtain and share your name and a profile picture, as well as the name and profile picture of your Facebook friends who are common Facebook friends with other DoubleDate users in your network or geolocation. Please take precautions to protect your password and contact us at <script type="text/javascript">
<!--
h='&#100;&#98;&#108;&#100;&#56;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#104;&#x65;&#108;&#112;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#104;&#x65;&#108;&#112;&#32;&#x61;&#116;&#32;&#100;&#98;&#108;&#100;&#56;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript> if you believe your account has been accessed by an unauthorized person.</p>
<h3 id="term-and-termination-account-deletion">Term and Termination; Account Deletion</h3>
<p>This Agreement begins on the date you first use DoubleDate and continues until terminated in accordance with the provisions hereof. Belluba may suspend, disable, or delete your account (or any part thereof) if Belluba determines that you have violated any provision of this Agreement or that your conduct or content would tend to damageBelluba's reputation or goodwill. If Belluba deletes your account for the foregoing reasons, you may not re-register under a different name. Upon termination, all licenses granted by Belluba will terminate. In the event of account deletion for any reason, content that you submitted may no longer be available. Belluba shall not be responsible for the loss of such content.</p>
<h3 id="disclaimers-limitation-of-liability">Disclaimers; Limitation of Liability</h3>
<p><strong>YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER DOUBLEDATE USERS. YOU UNDERSTAND THAT BELLUBA CURRENTLY DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS. BELLUBA ALSO DOES NOT INQUIRE INTO THE BACKGROUNDS OF ALL OF ITS USERS OR ATTEMPT TO VERIFY THE STATEMENTS OF ITS USERS. BELLUBA MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USER. BELLUBA RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTER SEARCHES), AT ANY TIME AND USING AVAILABLE PUBLIC RECORDS.</strong></p>
<p><strong>IN NO EVENT SHALL BELLUBA BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICE, INCLUDING WITHOUT LIMITATION, BODILY INJURY, DEATH, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER USERS OF THE DOUBLEDATE SERVICE OR PERSONS YOU MEET THROUGH DOUBLEDATE. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER USERS OF THE SERVICE, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.</strong></p>
<p>Belluba reserves the right to modify DoubleDate. You are responsible for providing your own access to DoubleDate. Belluba has no obligation to screen or monitor any content and does not guarantee that any content available on DoubleDate complies with this Agreement or is suitable for all users.</p>
<p>Belluba provides DoubleDate on an &quot;as is&quot; and &quot;as available&quot; basis. You therefore use DoubleDate at your own risk. Belluba expressly disclaims any and all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, and any other warranty that might arise under any law. Without limiting the foregoing, Belluba makes no representations or warranties:</p>
<ul>
<li>That DoubleDate will be permitted in your jurisdiction;</li>
<li>That DoubleDate will be uninterrupted or error-free;</li>
<li>Concerning any content submitted by any user;</li>
<li>Concerning any third party's use of content that you submit;</li>
<li>That any content you submit will be made available on DoubleDate or will be stored by Belluba;</li>
<li>That Belluba will continue to support any particular feature of DoubleDate; Concerning sites and resources outside of DoubleDate, even if linked to from DoubleDate.</li>
</ul>
<p>To the extent any disclaimer or limitation of liability does not apply, all applicable express, implied, and statutory warranties will be limited in duration to a period of thirty (30) days after the date on which you first used DoubleDate, and no warranties shall apply after such period.</p>
<h3 id="code-of-conduct-prohibited-activities">Code of Conduct; Prohibited Activities</h3>
<p>In using DoubleDate, you must behave in a civil and respectful manner at all times. Further, you will not:</p>
<ul>
<li>Harass or stalk any other person;</li>
<li>Harm or exploit minors;</li>
<li>Act in a deceptive manner by, among other things, impersonating any person;</li>
<li>Collect information about others;</li>
<li>You will not express or imply that any statements you make are endorsed by Belluba without our specific prior written consent.</li>
<li>You will not distribute spam, and will not use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, &quot;data mine&quot;, or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents.</li>
<li>You will not post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights.</li>
<li>You will not interfere with or disrupt the services or the site or the servers or networks connected to the services or the site.</li>
<li>You will not post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.</li>
</ul>
<p>Belluba has the right, but not the obligation, to monitor all conduct on and content submitted to DoubleDate.</p>
<h3 id="content-restrictions">Content Restrictions</h3>
<p>You are solely responsible for the content that you publish or display (hereinafter, &quot;post&quot;) on the Service, or transmit to other Members. You will not post on the service, or transmit to other users, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, or illegal material, or any material that infringes or violates another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity). You will not provide inaccurate, misleading or false information to Belluba or to any other user. If information provided to Belluba, or another user, subsequently becomes inaccurate, misleading or false, you will promptly notify us of such change. The following is a partial list of content you may not upload, post, or transmit (collectively, &quot;submit&quot;):</p>
<ul>
<li>is patently offensive to the online community, such as content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;</li>
<li>harasses or advocates harassment of another person;</li>
<li>promotes information that is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;</li>
<li>provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under the age of 18;</li>
<li>contains sexually explicit content;</li>
<li>provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses;</li>
<li>involves the transmission of &quot;junk mail&quot;, &quot;chain letters,&quot; or unsolicited mass mailing or &quot;spamming&quot;; promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated images, audio or video, or links to pirated images, audio or video files; solicits passwords or personal identifying information for commercial or unlawful purposes from other users;</li>
<li>engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes;</li>
<li>infringes any third party's copyrights or other rights (e.g., trademark, privacy rights, etc.);</li>
</ul>
<p>Your use of the Service, including but not limited to the content you post on the service, must be in accordance with any and all applicable laws and regulations. You may not include in your user profile any telephone numbers, street addresses, last names, URLs or email addresses.</p>
<h3 id="licenses-granted-by-you">Licenses Granted by You</h3>
<p>You grant Belluba and its affiliates a worldwide, perpetual, irrevocable, non-exclusive, royalty-free license and right to copy, transmit, distribute, publicly perform and display (through all media now known or hereafter created), and make derivative works from your content. In addition, you waive any so-called &quot;moral rights&quot; in your content. You further grant all users of DoubleDate permission to view your content for their personal, non-commercial purposes. If you make suggestions to Belluba on improving or adding new features to DoubleDate, Belluba shall have the right to use your suggestions without any compensation to you.</p>
<h3 id="your-representations-and-warranties">Your Representations and Warranties</h3>
<p>For each piece of content that you submit, you represent and warrant that: (i) you have the right to submit the content to Belluba and grant the licenses set forth above; (ii) Belluba will not need to obtain licenses from any third party or pay royalties to any third party; (iii) the content does not infringe any third party's rights, including intellectual property rights and privacy rights; and (iv) the content complies with this Agreement and all applicable laws.</p>
<h3 id="indemnification">Indemnification</h3>
<p>You will indemnify, defend, and hold harmless Belluba and its affiliates, directors, officers, employees, and agents, from and against all third party actions that: (i) arise from your activities on DoubleDate; (ii) assert a violation by you of any term of this Agreement; or (iii) assert that any content you submitted to DoubleDate violates any law or infringes any third party right, including any intellectual property or privacy right.</p>
<h3 id="other-complaints">Other Complaints</h3>
<p>You may send complaints to Belluba via email: <script type="text/javascript">
<!--
h='&#98;&#x65;&#108;&#108;&#x75;&#98;&#x61;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#x63;&#x6f;&#x6d;&#112;&#108;&#x61;&#x69;&#110;&#116;&#x73;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#x63;&#x6f;&#x6d;&#112;&#108;&#x61;&#x69;&#110;&#116;&#x73;&#32;&#x61;&#116;&#32;&#98;&#x65;&#108;&#108;&#x75;&#98;&#x61;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript></p>
<p>General Provisions GOVERNING LAW: This Agreement shall be governed by the laws of Sweden, without regard to principles of conflicts of law.</p>
<p><strong>DISPUTES:</strong> Any action arising out of or relating to this Agreement or your use of DoubleDate must be commenced according to Swedish law.</p>
<p><strong>INTERPRETATION; SEVERABILITY; WAIVER; REMEDIES:</strong> Headings are for convenience only and shall not be used to construe the terms of this Agreement. If any term of this Agreement is found invalid or unenforceable by any court of competent jurisdiction, that term will be severed from this Agreement. No failure or delay by Belluba in exercising any right hereunder will waive any further exercise of that right. Belluba's rights and remedies hereunder are cumulative and not exclusive.</p>
<p><strong>SUCCESSORS; ASSIGNMENT; NO THIRD PARTY BENEFICIARIES:</strong> This Agreement is binding upon and shall inure to the benefit of both parties and their respective successors, heirs, executors, administrators, personal representatives, and permitted assigns. You may not assign this Agreement without Belluba's prior written consent. No third party shall have any rights hereunder.</p>
<p><strong>NOTICES:</strong> You consent to receive all communications including notices, agreements, disclosures, or other information from Belluba electronically. Belluba may provide all such communications by email or by posting them on DoubleDate. Support-related inquiries or notices of a legal nature (such as a subpoena) may be sent to us at <script type="text/javascript">
<!--
h='&#100;&#98;&#108;&#100;&#56;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#104;&#x65;&#108;&#112;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#104;&#x65;&#108;&#112;&#32;&#x61;&#116;&#32;&#100;&#98;&#108;&#100;&#56;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript>.</p>
<p>Nothing herein shall limit Belluba's right to object to subpoenas, claims, or other demands.</p>
<h3 id="modification-entire-agreement">MODIFICATION; ENTIRE AGREEMENT:</h3>
<p>This Agreement may not be modified except by a revised Terms of Service posted by Belluba on DoubleDate or a written amendment signed by an authorized representative of Belluba. A revised Terms of Service will be effective as of the date it is posted. This Agreement constitutes the entire understanding between Belluba and you concerning the subject matter hereof and supersedes all prior agreements and understandings regarding the same.</p>
