@import "bourbon"
@import "neat"
// @import "include/fonts"
@import "include/variables"

=iphone
  @media only screen and (max-width: 480px)
    @content

* 
  margin: 0
  padding: 0

body
  height: 100%
  width: 100%
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased

body.home
  background: image-url('bg/speedboat.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  #home-wrapper
    margin: -130px 0 0 -150px
    top: 50%
    left: 50%
    position: absolute
    display: block
    width: 300px
    height: 260px

    h1, h2
      display: block
      text-indent: -9999em
      margin: 0 auto

    h1
      width: 107px
      height: 162px
      background: image-url('logo-dd.png') 0 0 no-repeat
      margin-bottom: 20px

    h2
      width: 243px
      height: 68px
      background: image-url('logo-text.png') 0 0 no-repeat


a
  &:hover
    text-decoration: none

// 

body.home-new
  background: #FFF

  .inner
    @include outer-container

  header
    height: 80px
    background: image-url('home/header.png') 0 0 repeat-x
    line-height: 80px
    text-shadow: 0 1px 1px #000
    position: fixed
    width: 100%
    z-index: 1000

    h1
      color: #FFF
      float: left

    span.download
      float: right
      display: block
      height: 60px
      margin-top: 14px
      a
        color: #222

  #content

    section.feature
      position: relative

      section
        padding: 40px 0
        @include span-columns(5)
        text-shadow: 0 1px 2px rgba(0,0,0, 0.8)

        h2
          margin: 110px 0 20px 0
          font-size: 50px
          font-family: "HelveticaNeue-CondensedBold"
          text-transform: uppercase
          color: #FFF

        p
          font-size: 22px
          font-weight: bold
          line-height: golden-ratio(22px, 1)
          color: #FFF

      .iphone
        @include span-columns(5)
        @include pad
        background: $ddpink
        height: 550px
        background: image-url('home/iphone-01.png') 50% 50px no-repeat

      &.even
        background: #FFF

        section
          text-align: right
          @include shift(2)

          h2
            color: $ddblue

        .iphone
          // background: $ddblue

      &.first
        padding-top: 80px

      &.horses
        background: image-url('bg/horses.jpg') bottom left no-repeat

      &.snorkel
        background: image-url('bg/snorkel.jpg') no-repeat center center fixed

+iphone
  body
    background: image-url('mobile/bg-noise@2x.png')
    @include background-size(50% 100%)
  
  #wrapper
    header
      position: fixed
      z-index: 1000
      top: 0
      width: 100%
      padding: 6px 0 4px 0
      height: 46px
      background: image-url('mobile/bg-navbar@2x.png')
      @include background-size(50% 100%)

      h1
        a
          display: block
          margin: 0 auto
          width: 22px
          height: 33px
          text-indent: -999em
          background: image-url('mobile/logo-navbar@2x.png') no-repeat
          @include background-size(100%, 200%)

    #content
      padding: 50px 10px 10px 10px
      color: #FFF

      .invite-landing
        text-align: center
        
        .user-photo-wrapper
          position: relative
          width: 90%
          margin: 20px auto
          border: 1px solid #000
          @include box-shadow(0 2px 7px rgba(0,0,0, 0.8))

          .inset
            @include box-shadow(inset 0 0 0 1px rgba(255,255,255, 0.1))
            position: absolute
            height: 100%
            width: 100%

          img.user-photo
            width: 100%
            display: block

        h3
          padding: 0 10%
          display: block
          margin: 0 0 20px 0

    #lower-glass
      bottom: 0
      width: 100%
      position: fixed
      min-height: 80px
      background: image-url('mobile/bg-glass@2x.png') top left repeat-x
      padding: 20px
      @include background-size(50% 100%)

      a.action-btn
        padding: 10px
        @include box-shadow(inset 0 0 0 1px rgba(255,255,255, 0.2))
        @include box-shadow(0 1px 0 rgba(255,255,255, 0.1))
        @include linear-gradient(lighten($ddblue, 20), $ddblue)
        border: 3px solid #000
        font-weight: bold
        text-decoration: none
        color: #FFF
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5)
        border-radius: 10px
        font-size: 20px
        display: block
        text-align: center