@import "bourbon"
@import "neat"
// @import "include/fonts"
@import "include/variables"

* 
  margin: 0
  padding: 0

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased

body.home
  background: image-url('bg/speedboat.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  #home-wrapper
    margin: -130px 0 0 -150px
    top: 50%
    left: 50%
    position: absolute
    display: block
    width: 300px
    height: 260px

    h1, h2
      display: block
      text-indent: -9999em
      margin: 0 auto

    h1
      width: 107px
      height: 162px
      background: image-url('logo-dd.png') 0 0 no-repeat
      margin-bottom: 20px

    h2
      width: 243px
      height: 68px
      background: image-url('logo-text.png') 0 0 no-repeat


a
  &:hover
    text-decoration: none

// 

body.home-new
  background: #FFF

  .inner
    @include outer-container

  header
    height: 80px
    background: #CCC
    line-height: 80px
    text-shadow: 0 1px 0 #EEE

    h1
      color: #222
      float: left

    span.download
      float: right
      a
        color: #222

  #content

    section.feature

      section
        padding: 40px 0
        @include span-columns(5)

        h2
          margin-top: 110px
          font-size: 50px
          font-family: "HelveticaNeue-CondensedBold"
          text-transform: uppercase
          line-height: golden-ratio(50px, 1)
          color: $ddpink

        p
          font-size: 16px
          line-height: golden-ratio(16px, 1)
          color: #444

      .iphone
        @include span-columns(5)
        @include pad
        background: $ddpink
        height: 460px
        background: image-url('home/iphone-01.png') 50% 50px no-repeat

      &.even
        background: #EEE

        section
          text-align: right
          @include shift(2)

          h2
            color: $ddblue

        .iphone
          // background: $ddblue