// @import "bootstrap"

body
  background: #222
  color: #DDD
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 300

#home-wrapper
  width: 400px
  margin: 50px auto
  background: #1D1D1D
  padding: 20px
  text-align: center
  border-radius: 10px
  border-bottom: 1px solid rgba(255,255,255,0.1)

#wrapper
  padding: 20px 10%

.user-list
  table
    width: 100%
    border-collapse: collapse
    thead
      text-align: left
      border-bottom: 1px dotted #444
    
    thead, tr
      td, th
        line-height: 30px

section.user-detail 
  section.debug
    background: #000
    padding: 20px
    border-radius: 10px
    color: #00de88


a
  color: #FF005A
  &:hover
    text-decoration: none

